# Steps 4: Data transformation

## Import Libraries

In [1]:
import numpy as np
import pandas as pd

## Loading the data and Selecting the Features

### Import Data

In [2]:
loan_data = pd.read_csv('dummy_loan_data.csv', index_col  = 0)

E:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (48) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Explore Data

In [3]:
loan_data.head()

,good_bad,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,mths_since_last_delinq:53-75,mths_since_last_delinq:>=76,mths_since_last_record:Missing,mths_since_last_record:0-20,mths_since_last_record:21-30,mths_since_last_record:31-46,mths_since_last_record:47-61,mths_since_last_record:62-67,mths_since_last_record:68-79,mths_since_last_record:>=80
0,1,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,...,0,0,1,0,0,0,0,0,0,0
1,0,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,...,0,0,1,0,0,0,0,0,0,0
2,1,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,...,0,0,1,0,0,0,0,0,0,0
3,1,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,...,0,0,1,0,0,0,0,0,0,0
4,1,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,...,0,0,1,0,0,0,0,0,0,0

In [4]:
loan_data.shape

(887379, 315)

### Selecting the Features

In [5]:
loan_data_with_ref_cat = loan_data.loc[: , ['grade:A',
'grade:B',
'grade:C', 
'grade:D',
'grade:E',
'grade:F',
'grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'home_ownership:OWN',
'home_ownership:MORTGAGE',
'verification_status:Verified',
'verification_status:Source Verified',
'verification_status:Not Verified',
'purpose:edu_small_wedd_re_mov_house',
'purpose:oth_med_vacation',
'purpose:debt_consolidation',
'purpose:major_car_home',
'purpose:credit_card',
'addr_state:IA_NV_HI_ID',
'addr_state:AL_FL',
'addr_state:NY',
'addr_state:VA_CA_UT',
'addr_state:NM_OK_SD_LA_NJ',
'addr_state:NC_MD',
'addr_state:MO_AZ',
'addr_state:PA_RI_MI_AR',
'addr_state:MA_MN_DE',
'addr_state:OH_WA_KY',
'addr_state:OR_GA',
'addr_state:IN_TN_WI_AK',
'addr_state:TX',
'addr_state:MT_CT',
'addr_state:SC_KS_CO_IL',
'addr_state:WV_WY_VT_NH',
'addr_state:MS_DC_NE_ND_ME',
'initial_list_status:f',
'initial_list_status:w',
'term:36',
'term:60',
'emp_length:0',
'emp_length:1',
'emp_length:2-3',
'emp_length:4',
'emp_length:5',
'emp_length:6',
'emp_length:7',
'emp_length:8-9',
'emp_length:10',
'mths_since_issue_d:<4',
'mths_since_issue_d:4-5',
'mths_since_issue_d:6-7',
'mths_since_issue_d:8-11',
'mths_since_issue_d:12-15',
'mths_since_issue_d:16-19',
'mths_since_issue_d:20-25',
'mths_since_issue_d:26-29',
'mths_since_issue_d:30-37',
'mths_since_issue_d:38-49',
'mths_since_issue_d:>=50',
'int_rate:<=5.793',
'int_rate:5.793-7.214',
'int_rate:7.214-8.634',
'int_rate:8.634-10.054',
'int_rate:10.054-11.474',
'int_rate:11.474-12.894',
'int_rate:12.894-13.841',
'int_rate:13.841-14.788',
'int_rate:14.788-15.735',
'int_rate:15.735-17.155',
'int_rate:17.155-18.575',
'int_rate:18.575-19.995',
'int_rate:>19.995',
'mths_since_earliest_cr_line:<120',
'mths_since_earliest_cr_line:120-153',
'mths_since_earliest_cr_line:154-186',
'mths_since_earliest_cr_line:187-219',
'mths_since_earliest_cr_line:220-252',
'mths_since_earliest_cr_line:253-269',
'mths_since_earliest_cr_line:270-335',
'mths_since_earliest_cr_line:336-384',
'mths_since_earliest_cr_line:385-451',
'mths_since_earliest_cr_line:>451',
'delinq_2yrs:0',
'delinq_2yrs:1-3',
'delinq_2yrs:>=4',
'inq_last_6mths:0',
'inq_last_6mths:1',
'inq_last_6mths:2-4',
'inq_last_6mths:>=5',
'open_acc:<8',
'open_acc:8-9',
'open_acc:10-12',
'open_acc:13-16',
'open_acc:17-21',
'open_acc:22-25',
'open_acc:>25',
'pub_rec:0',
'pub_rec:1-2',
'pub_rec:>2',
'total_acc:<=11',
'total_acc:12-17',
'total_acc:18-27',
'total_acc:28-34',
'total_acc:35-41',
'total_acc:42-48',
'total_acc:>48',
'acc_now_delinq:0',
'acc_now_delinq:>0',
'annual_inc:<20K',
'annual_inc:20K-30K',
'annual_inc:30K-40K',
'annual_inc:40K-50K',
'annual_inc:50K-60K',
'annual_inc:60K-70K',
'annual_inc:70K-80K',
'annual_inc:80K-90K',
'annual_inc:90K-100K',
'annual_inc:>100K',
'mths_since_last_delinq:Missing',
'mths_since_last_delinq:0-15',
'mths_since_last_delinq:16-30',
'mths_since_last_delinq:31-37',
'mths_since_last_delinq:38-52',
'mths_since_last_delinq:53-75',
'mths_since_last_delinq:>=76',
'mths_since_last_record:Missing',
'mths_since_last_record:0-20',
'mths_since_last_record:21-30',
'mths_since_last_record:31-46',
'mths_since_last_record:47-61',
'mths_since_last_record:62-67',
'mths_since_last_record:68-79',
'mths_since_last_record:>=80',
'good_bad']]

In [6]:
ref_categories = ['grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'verification_status:Verified',
'purpose:edu_small_wedd_re_mov_house',
'addr_state:IA_NV_HI_ID',
'initial_list_status:f',
'term:60',
'emp_length:0',
'mths_since_issue_d:>=50',
'int_rate:>19.995',
'mths_since_earliest_cr_line:<120',
'delinq_2yrs:>=4',
'inq_last_6mths:>=5',
'open_acc:<8',
'pub_rec:0',
'total_acc:<=11',
'acc_now_delinq:0',
'annual_inc:<20K',
'mths_since_last_delinq:0-15',
'mths_since_last_record:0-20']

In [7]:
loan_data = loan_data_with_ref_cat.drop(ref_categories, axis = 1)

In [8]:
loan_data.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,verification_status:Source Verified,verification_status:Not Verified,...,mths_since_last_delinq:53-75,mths_since_last_delinq:>=76,mths_since_last_record:Missing,mths_since_last_record:21-30,mths_since_last_record:31-46,mths_since_last_record:47-61,mths_since_last_record:62-67,mths_since_last_record:68-79,mths_since_last_record:>=80,good_bad
0,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,0,0,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1
3,0,0,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,1
4,0,1,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,1

In [9]:
loan_data.shape

(887379, 114)

In [11]:
loan_data.to_csv('loan_data_to_model.csv', index=0)